/* styles.css */
.title {
  color: rgb(0, 128, 255);
  font-family: Poppins, sans-serif;
}

.interface {
  width: 30%;
  margin: 0 auto;
  vertical-align: middle;
  background-color: #74d3ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}